<!DOCTYPE html>
<html>
<head>
<title>Epic Energy Services - Lista Comuni</title>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<div class="header-menu">Epic Energy Services</div>
<div class="header-section">Elenco comuni</div>
 <div th:switch="${listaComuni.size()}">
   <div class="no-item-found" th:case="0">Nessuno comune trovato!</div>
   <!-- * for default case -->
   <div th:case="*">
   <table width="100%">
     <thead>
        <tr>
        	
        	<th class="header">Nome</th>
        	<th class="header">Provincia</th>
        	
        </tr>
      </thead>
      <tbody>
            <tr th:each="comune : ${listaComuni}">
              <!-- <td th:text="${comune.id}"></td>-->
               	<td th:text="${comune.nome}"></td>
  				<td th:text="${comune.provincia.nome}"></td>
            	<!-- <td><a th:href="@{/web/mostraformaggiorna/{id}(id=${studente.id})}">Aggiorna</i></a></td>-->
            </tr>
       </tbody>
   </table>
</body>
</html>