<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Epic Energy Services</title>
<link rel="stylesheet" th:href="@{/css/layout.css}"/>
</head>
<body>
<div class="header-menu">Epic Energy Services Home Page</div>
<div class="container-menu">
  <div class="item-menu"><a href="http://localhost:8080/web/comuni/mostraelenco">Elenco Comuni</a></div>
  <div class="item-menu"><a href="http://localhost:8080/web/province/mostraelenco">Elenco Province</a></div>
</div>
<div class="footer">By Rim</div>
</body>
</html>